<html>
    <head>
        {% include 'partial/header.html' %}        
        <title>Yahtzee: Login</title>
    </head>

    <body class="notnav">
        <h1>Yahtzee: Login</h1>
        <section id="feedback">
            <feedback content>{{feedback}}</feedback>
        </section>      
        <div class="login_form">
        <form action="/login" method="get">
                <label for="username_input"><b>Username</b></label>
                <input type="text" placeholder="Username" id="username_input" required name="username">
            
                <label for="password_input"><b>Password</b></label>
                <input type="password" id="password_input" placeholder="Enter Password" required name="password">
            
                <input class="btn btn-primary" id="login_submit" type="submit" value="LOGIN">
                
            </form>
            <form action="/users" method="get" class="login-form">
                <input class="btn btn-primary" id="create_submit" type="submit" value="CREATE">

            </form>
        </div>

        


        <footer>{% include 'partial/footer.html' %}</footer>
    </body>

</html>