body {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    line-height: 1.5;
    min-height: 100vh;
    background: #f3f3f3;
    flex-direction: column;
    margin: 0;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 20px;
    width: 100px;
    text-align: center;
}

h1 {
    color: #dd61db;
}


input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #dd61db;
    width: 100%;
    font-size: 16px;
}

.reserved {
    border: 2px solid #a32323;
    border-radius: 10px;
}

