<html>
    <head>
        <link href="css/styles.css" rel="stylesheet" >
        <title>Yahtzee: Login</title>
    </head>

    <body>
        <h1>Yahtzee: Login</h1>
            <form action="/games" method="get">
                <label for="username_input"><b>Username</b></label>
                <input type="text" placeholder="Username" id="username_input" name="username">
            
                <label for="password_input"><b>Password</b></label>
                <input type="password" id="password_input" placeholder="Enter Password" name="password">
            
                <button id="login_submit" type="submit">Login</button>
                <button id="create_user_submit">Create</button>

            </form>
        


        <footer>{% include 'partial/footer.html' %}</footer>
    </body>

</html>