<html>
    <head>
        {% include 'partial/header.html' %}        
        <title>Yahtzee: User Games</title>
    </head>

    <body>
        <h1>Yahtzee: User Games</h1>
            <section id="feedback">
                <feedback content id="feedback"></feedback>
            </section>



            <section id="games_list">
                {% for game in games_list %}
                <form action='/games/delete/{{game_name}}/{{username}}' method="post">
                    <p>{{loop.index}}. {{game_name}}</p>
                    <input class="btn btn-primary" id="delete_game_submit" type="submit" value="DELETE">
                    
                </form> 
                {% endfor %}
            </section>

   
            
            <form action="/game" method="post">
                <label for="game_name_input"><b>Game Name</b></label>
                <input type="text" placeholder="Game Name" id="game_name_input" name="game_name" required>
                <input class="btn btn-primary" id="create_game_submit" type="submit" value="CREATE">
                <input class="btn btn-primary" id="join_game_submit" type="submit" value="JOIN">

            </form>                
            
            <section id="high_score_list">
                <h2>Your High Scores</h2>
                {% for game in high_score_list %}
                    <p>{{loop.index}}. {{game["game_name"]}}: {{game["score"]}}</p>       
                {% endfor %}
            </section>
        


        <footer>{% include 'partial/footer.html' %}</footer>
    </body>

</html>