<html>
    <head>
        {% include 'partial/header.html' %}        
        <title>Yahtzee: User Games</title>
    </head>

    <body class="notnav">
        <h1>Yahtzee: User Games</h1>
            <section id="feedback">
                <feedback content>{{feedback}}</feedback>
            </section>



            <ol id="games_list">
                {% for game_name in games_list %}
                <li class="list">
                <a href="/games/{{game_name}}/{{username}}">{{game_name}}</a>
                    <a href="/games/delete/{{game_name}}/{{username}}" class="btn btn-danger" role="button">DELETE</a>
                </li>

                {% endfor %}
            </ol>

   
            <form class="game_form" action="/games" method="post">
                <input type="text"  class="game_name_input" placeholder="MyGame123" id="game_name_input" name="game_name" required>
                <input class="game_button btn btn-primary" id="create_submit" type="submit" value="CREATE">
                <input type="hidden" id="custUsername" name="username" value="{{username}}"> 

                <input class="btn game_button btn-primary" id="join_submit" formaction="/games/join" type="submit" value="JOIN">
            </form>

            <h2>Your High Scores</h2>
            <ol id="high_scores_list">
                {% for game in high_scores_list %}
                    <li>{{game.game_name}} : {{game.score}}</li>       
                {% endfor %}
            </ol>
        


        <footer>{% include 'partial/footer.html' %}</footer>
    </body>

</html>