<html>
    <head>
        <link href="css/styles.css" rel="stylesheet" >
        <title>Yahtzee: Login</title>
    </head>

    <body>
        <h1>Yahtzee</h1>
            <section id="feedback">
                <feedback content id="feedback">{{feedback}}</feedback>
            </section>
                {% if context=="update" %}
                    <form action="/users/{{username}}" method="post"> 
                {% elif context=="create" %}
                    <form action="/users" method="post"> 
                {% endif %}
                <label for="username_input"><b>Username</b></label>
                <!-- <input type="hidden" id="custId" name="user_id" value=id> -->
                <input type="text" placeholder="Username" value={{username}} id="username_input" name="username" required>
            
                <label for="password_input"><b>Password</b></label>
                <input id="password_input" value={{password}} placeholder="Enter Password" name="password" required>

                <label for="password_input"><b>Email</b></label>
                <input type="email" value={{email}} id="email_input" placeholder="Enter Email" name="email" required>
                
                <button id="updatecreate_user_submit" type="submit">{{context}}</button>

            </form>
            {% if context=="update" %}
            <form action="/users/delete/{{username}}" method="post"> 
                <button id="delete_user_submit" type="submit">Delete</button>
            </form>
            {% endif %}

        


        <footer>{% include 'partial/footer.html' %}</footer>
    </body>

</html>